/*style page index*/
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body{
	background: url("../img/index/sand.png");
	color: #59371E;
	font-family: 'Philosopher', sans-serif;
	font-size: 1.2em;
}

.contenaire{
	background-color: #ce884b;
	width: 70%;
	margin: 0 auto;
	border-radius: 10px;
	padding-bottom: 10px;
	border: 1px solid #59371E;
	box-shadow: 2px 2px 12px rgba(0,0,0,.5);
	
}

header{
	background: url("../img/index/fondheader.png") no-repeat right bottom #4080ff;
	background-size: 50%;
	height: 100px;
	border-radius: 10px 10px 0 0;
	border-bottom: 2px #59371E solid;
	padding: 10px;
}

h1{
	margin: 0;
}

.content{
	padding: 10px;

}

.content p, .content a{
	text-align: center;
}

.liens{
	text-align: center;

}
a{
	text-decoration: none;
	display: inline-block;
    width: 200px;
	min-width: 150px;
    padding: 10px;
    margin: 10px 10px;
	font-family: 'Philosopher', sans-serif; 
    font-size: 2em; 
}

.info{
	display: inline-block;
	background: #F3B37C;
	border-radius: 10px;
	border: 1px solid #59371E;
	padding: 10px;
	width: 45%;
	min-width: 400px;
	margin: 10px auto;
	box-shadow: 2px 2px 12px rgba(0,0,0,.5);
}
.info h2 {
	margin: 0;
}

.info ul{
	list-style-type: none;
}
.info ul li{
	padding-left: 60px;
	margin: 10px 0;
	height: 50px;
	display: flex;
    align-items: center;
}
.info ul :first-child{
	background: url("../img/index/distance.png") no-repeat top left;
}
.info ul :first-child +li{
	background: url("../img/index/coin.png") no-repeat top left;
}
.info ul :first-child +li + li{
	background: url("../img/index/coin5.png") no-repeat top left;
}
.info ul :first-child +li + li + li{
	background: url("../img/index/coin10.png") no-repeat top left;
}
.info ul :first-child +li + li + li + li{
	background: url("../img/index/coinShield.png") no-repeat top left;
}
.info ul :last-child {
	background: url("../img/index/coinSwiftness.png") no-repeat top left;
}

.scores{
	float: right;
	background: #F3B37C;
	border-radius: 10px;
	border: 1px solid #59371E;
	padding: 10px;
	width: 45%;
	min-width: 400px;
	margin: 10px auto;
	box-shadow: 2px 2px 12px rgba(0,0,0,.5);
}

.scores h2{
	margin: 0;
}

footer{
	clear:right;
}

/*style page newScore */
#wrapper {
	background: #F3B37C;
	border-radius: 10px;
	border: 1px solid #59371E;
	padding: 10px;
	width: 45%;
	min-width: 400px;
	margin: 10px auto;
	text-align: center;
	box-shadow: 2px 2px 12px rgba(0,0,0,.5);
}

#error, label, input{
    display: block;
    margin: 0 auto;
    width: 400px;
    padding: 10px;
    margin: 10px auto;
    font-size: 1.05em;
    text-align: center;
}

#error {
    padding: 0;
    font-size: 1.15em;
    font-weight: bold;
    color: #A00;
}

input, a{
    border: 2px solid gray;
    border-radius: 8px;
}

input:hover , a:hover{
    border-color: #AAA;
}

#send, a {
    background: -webkit-linear-gradient(#F0F0F0 40%, #E0E0E0 60%);
}

#send:hover, a:hover {
    background: -webkit-linear-gradient(white 40%, #F0F0F0 60%);
}

#send:active, a:hover {
    background: -webkit-linear-gradient(#E0E0E0 40%, #C8C8C8 60%);
}