doctype html
html
  head
    meta(charset="UTF-8")
    title Jeu - Wild Coyote
    link(rel="stylesheet", href="css/game.css")
    link(rel="icon" href="img/favicon.ico")
  body
    canvas(id="canvas2d")
    // Externes javascript librairies
    script(type="text/javascript", src="vendors/three.min.js")
    script(type="text/javascript", src="vendors/OBJLoader.js")
    script(type="text/javascript", src="http://cdn.zigfu.com/zigjs/zig.min.js")
    script(type="text/javascript", src="vendors/jquery.js")
    script(type="text/javascript", src="vendors/socket.io-1.4.5.js")
    // Game
    script(type="text/javascript", src="js/functions.js")
    script(type="text/javascript", src="js/getters.js")
    script(type="text/javascript", src="js/mesh.js")
    script(type="text/javascript", src="js/movement.js")
    script(type="text/javascript", src="js/obstacles.js")
    script(type="text/javascript", src="js/level.js")
    script(type="text/javascript", src="js/beginning_animation.js")
    script(type="text/javascript", src="js/commands.js")
    script(type="text/javascript", src="js/init.js")
    script(type="text/javascript", src="js/game.js")
    script(type="text/javascript", src=" js/end_game.js ")
    // objects
    script(type="text/javascript", src="js/boxes.js")
    script(type="text/javascript", src="js/spikes.js")
    script(type="text/javascript", src="js/coins.js")
    script(type="text/javascript", src="js/decors.js")
    //  Kinect
    script(type="text/javascript", src="js/kinect.js")
    script(type="text/javascript", src="js/socket.js")
    // Highscore
