<!DOCTYPE html>
<html lang="fr">
	
	<head>
		<meta charset="UTF-8">
		<title>Test en JavaScript</title>
		<link rel="stylesheet" href="../css/game.css" />
	</head>
	
	<body>
        <canvas id="canvas2d"></canvas>
        <script type="text/javascript", src="../vendors/three.min.js"></script>
        <script type="text/javascript", src="../vendors/OBJLoader.js"></script>
        <script type="text/javascript", src="http://cdn.zigfu.com/zigjs/zig.min.js"></script>
        <script type="text/javascript", src="../vendors/jquery.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

        <script type="text/javascript", src="../js/functions.js"></script>
        <script type="text/javascript", src="../js/getters.js"></script>
        <script type="text/javascript", src="../js/mesh.js"></script>
        <script type="text/javascript", src="../js/movement.js"></script>
        <script type="text/javascript", src="../js/obstacles.js"></script>
        <script type="text/javascript", src="../js/level.js"></script>
        <script type="text/javascript", src="../js/beginning_animation.js"></script>
        <script type="text/javascript", src="../js/commands.js"></script>
        <script type="text/javascript", src="../js/init.js"></script>
        <script type="text/javascript", src="../js/game.js"></script>
        <script type="text/javascript", src="../js/end_game.js "></script>

        <script type="text/javascript", src="../js/boxes.js"></script>
        <script type="text/javascript", src="../js/spikes.js"></script>
        <script type="text/javascript", src="../js/coins.js"></script>
        <script type="text/javascript", src="../js/decors.js"></script>

        <script type="text/javascript", src="../js/kinect.js"></script>
        <script type="text/javascript", src="../js/socket.js"></script>
    </body>
</html>
