<!DOCTYPE html>
<html lang="fr">
	
	<head>
		<meta charset="UTF-8">
		<title>Test en JavaScript</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	
	<body>
        <canvas id="canvas2d"></canvas>
		<script type="text/javascript" src="vendors/three.min.js"></script>
        <script type="text/javascript" src="vendors/OBJLoader.js"></script>
        <script type="text/javascript" src="vendors/jquery.js"></script>
		<script type="text/javascript" src="js/fonctions.js"></script>
        <script type="text/javascript" src="js/mesh.js"></script>
        <script type="text/javascript" src="js/collision.js"></script>
        <script type="text/javascript" src="js/map.js"></script>
        <script type="text/javascript" src="js/init.js"></script>
        <script type="text/javascript" src="js/game.js"></script>
        
        <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
        <script type="text/javascript" src="js/socket.js"></script>
	</body>
	
</html>
