doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Accueil - Wild Coyote
    link(href='https://fonts.googleapis.com/css?family=Philosopher', rel='stylesheet', type='text/css')
    link(href='css/style.css', rel='stylesheet', type='text/css')
  body
    .contenaire
      header
        h1 Wild Coyote - Accueil
      nav
      .content
        p Eviter les obstacles et collecter le plus de pi&egrave;ces possible.
        
        .liens
          a(href='Game?tuto') Tuto
          a(href='Game') Jouer
        .info
          h2 Information
          ul
            li Distance 5m : 1 point
            li Pi&egrave;ce jaune : 10 points
            li Pi&egrave;ce verte : 50 points
            li Pi&egrave;ce bleue : 100 points
            li Pi&egrave;ce rouge : Immunit&eacute; pendant 10 secondes, chaque collision enl&egrave;ve 1 seconde
            li Pi&egrave;ce orange : Immunit&eacute; pendant 5 secondes et vitesse augment&eacute;.
        #scores
          h2 Les 10 meilleurs scores
          table
            tr
              th Nom
              th Score
              th Distance
              th Pièces
              
      footer
    script(type="text/javascript", src="vendors/socket.io-1.4.5.js")
    script(type="text/javascript", src  ="vendors/jquery.js")
    script(type="text/javascript", src  ="js/display_scores.js")